<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/listnotes.css">
    <link rel="stylesheet" href="../css/nota.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3253966068426341"
     crossorigin="anonymous"></script>
    <title>Notas</title>
</head>
<body>
    <main>
        <section>
            <div class="nota">
                <h2><%- nota.notename %></h2>
                <p><%- nota.conteudo %></p>
            </div>
        </section>
    </main>
</body>
</html>