<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3253966068426341"
     crossorigin="anonymous"></script>
    <title>NotasOnline</title>
</head>
<body>
    <section class="section main">
        <div class="logincard">
            <div class="infos">
                <h1>NotasOnline - Registro</h1>
            </div>
            <% if(erro) { %>
                <p style="color: red">Email ja registrado!</p>
            <% } %>
            <form action="/registro" method="POST">
                <div class="inputs">
                    <h2>Email</h2>
                    <input type="email" name="email" id="email" required>
                    <h2>Senha</h2>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="confirm">
                    <input type="submit" value="Registrar">
                </div>
            </form>
        </div>
    </section>
</body>
</html>